# gitignore: https://git-scm.com/docs/gitignore
# example: https://github.com/github/gitignore/blob/master/VisualStudio.gitignore

# Build results
bin/
obj/

# Dotenv files
.env
.env.*
!.env.example

# Logs
logs/
MSBuild_Logs

# MacOS
.DS_Store
